body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
}
/* 共通設定
---------------------------------------------------- */
.wrapper {
    max-width: 1280x;
    margin: 0 auto;
    padding: 0 4%;
}
ul {
  list-style: none;
}
a {
    text-decoration: none;
}
.error ul{
    padding: 0;
    text-align: left;
    color: red;
    margin-bottom: 1rem;
}
.error li::before {
    content: "・"; 
    margin-right: 5px; 
}
.error p{
    display: inline-flex;
    align-items: center;
    font-size: 1.15rem;
    font-weight: bold;
}
.error p .material-symbols-outlined{
    margin-right: 5px;
}
#error-messages {
    text-align: left;
    color: red;
}
#error-messages li::before {
    content: "・"; 
    margin-right: 5px; 
}

/* トップ画面(top)
---------------------------------------------------- */
/* 背景画像 */
#big-bg {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-image: url(/images/top_bg.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#big-bg::after{
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.1;
}
/* ヘッダー */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.h-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 40px;
}
.logo img {
    width: 200px; 
}
/* ログイン・新規登録ボタン */
.buttons {
    display: flex;
}
.login-button, .signup-button {
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.login-button:hover, .signup-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation .user-name {
    margin-right: 30px;
    position: relative;
}
.navigation .user-name :after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    height: 1px;
}
.user-name span {
    font-size: 1.15rem;
    font-weight: bold;
}
.nav-link {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: bold;
    color: white;
    background-color: blue !important;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: darkblue !important;
}
/*ハンバーガーメニュー */
.hamburger-menu {
    display: none;
    z-index: 200;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.hamburger-icon.close span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger-icon.close span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.close span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.hamburger-navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: none;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}
.hamburger-links {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    padding: 130px 20px 20px 40px;
}

.hamburger-links form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.s-nav-link {
    text-align: center;
    margin-bottom: 40px;
    border: 2px white solid;
    text-decoration-color: white; 
    text-decoration-thickness: 2px; 
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 10px;
}
/* 背景画像上のテキスト */
#text-container {
    position: fixed;
    top: 30%; 
    left: 10%; 
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: 555;
}
/* 下から上への動きを追加 */
#text-container.fade-in {
    opacity: 1;
    animation: slideIn 1.5s ease-in-out; 
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%); /* 下方向に100%移動 */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 元の位置に戻る */
    }
}
#text-container  h1{
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 3;
    text-align: left;
}
/* 認証画面(auth/admin.auth)
---------------------------------------------------- */
.auth-form {
    background-color: #fff;
    text-align: left !important;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
/* メイン画面(main)
---------------------------------------------------- */
.main-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.main-h-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ログアウトボタン */
.logout-button {
    border: none;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 6px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.logout-button:hover {
    background-color: darkblue;
}
/* Menuとカレンダー */
#primary-container {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.contents-title {
    max-width: 100%;
    background: linear-gradient(45deg, #16f18f 0%, #009efd 100%);
}
#menu-title{
    text-align: center;
}
.contents-title h2 {
    padding: 10px 30px;
    font-size: 24px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#primary-container aside{
    width:16%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 6px;
}
.side-container {
    text-align: center;
}
.side-container li{
    text-align: center;
}
#line {
    border-top: lightgrey solid 0.5px;
}
.sidebar-link {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    font-size: 1.15rem;
    font-weight: bold;
    text-decoration: none;
}
.sidebar-link:hover {
    background-color: navy;
    transition: all ease-in-out 0.3s;
    color: #ffffff;
    opacity: 0.9;
}
#primary-container section{
    position: relative;
    width:82%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 6px;
}
.calendar-container {
    text-align: center;
    padding: 20px 30px;
    height: 450px;
    overflow: auto; /* カレンダーがはみ出た場合にスクロールバーを表示 */
}
/* 予約完了メッセージ */
#message-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#message-overlay.active {
    opacity: 1;
    visibility: visible;
}
#message-box {
    background-color: orange;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
/* 予約フォーム */
#reservationForm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reservationForm-overlay.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.reservationForm-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}
.reservationForm-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.reservationForm-container .form-group {
    margin-bottom: 15px;
}
.reservationForm-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
.reservationForm-container input[type="text"],
.reservationForm-container input[type="time"],
.reservationForm-container select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.reservationForm-container button[type="submit"] {
    background-color: lightseagreen;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.reservationForm-container button[type="submit"]:hover {
    background-color:#008080;
}
/* FullCalendar */
#calendar {
    font-size: 0.95rem; /* カレンダーの文字サイズを調整 */
}

td.fc-day-sat {
    background-color: #eaf4ff;
}
td.fc-day-sun {
    background-color: #ffeaea;
}
.fc-daygrid-day-number {
    color: black;
}
.fc-daygrid-event-harness {
    display: none !important;
}
td.fc-day-sat .fc-daygrid-day-number {
    color: blue;
}
td.fc-day-sun .fc-daygrid-day-number {
    color: red;
}
td.fc-timegrid-slot {
    height: 3em !important;
    border-bottom: 0 !important;
}
.fc-event-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.fc-button-primary {
    background-color: white !important;
    color: #000 !important;
    font-weight: bold !important;
}
.fc-button-primary:hover {
    background-color: navy !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out !important;
}
.fc-button-primary:focus {
    outline: 1px !important;
}
.fc-timegrid-axis{
    background-color: #fff !important;
    opacity: 0;
}
.fc-col-header {
    /* background: linear-gradient(45deg, #2af598 0%, #009efd 100%); */
    color: #333 !important;
} 
.fc-col-header-cell-cushion {
    font-weight: bold !important;
    font-size: 1.15rem !important;
    padding: 5px 10px !important; 
} 
.fc-scrollgrid-shrink-cushion {
    font-size: 1rem;
    padding: 2px 8px !important; 
}
.fc-v-event {
    border: none !important;
    /* background: linear-gradient(60deg, rgb(175, 174, 174) 10%, rgb(182, 181, 181) 100%); */
    background: linear-gradient(60deg, #43b3f8 0%, #28abfd 100%);
    opacity: 0.7;
    
}
.fc-event-main {
    border-radius: 8% !important; 
}
.fc-event-time {
    display: none;
}
.fc-event-title {
    color: #fff; /* 文字色 */
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
}
/* 予約履歴画面(reservations.index)
---------------------------------------------------- */
#secoundary-container {
    min-height: 100vh;
    margin-top: 90px;
    margin-bottom: 50px;
}
.reservation-history-title {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 15px;
}
/* 予約履歴の表 */
.reservation-history-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f9ff;
    margin-bottom: 30px;
}
.reservation-history-table .th-bg {
    background: linear-gradient(45deg, #2af598 0%, #009efd 100%);
    font-size: 1.25rem;
}
.reservation-history-table tbody tr:nth-child(even) {
    background-color: #fff;
}
.reservation-history-table th,
.reservation-history-table td {
    padding: 10px;
    text-align: center;
}
.reservation-history-table th {
    font-weight: bold;
    color: #fff;
}
.reservation-history-table td {
    border-bottom: 1px solid #ddd;
    color: #555;
}
.reservation-history-table td input[type="checkbox"] {
    padding: 10px;
    width: 20px;
    height: 20px;
}
/* 削除ボタン */
.delete-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.delete-button .material-symbols-outlined {
    margin-right: 5px;
}
.delete-button:hover {
    background-color: #ff3333;
}
/* キャンセル完了画面(reservations.destroy)
---------------------------------------------------- */
#secondary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.complete-sign {
    text-align: center;
}
.complete-sign h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.complete-sign h1 span{
    font-size: 2.5rem;
    padding: 0 15px;
}
.btn-outer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-outer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 8px;
    border: 2px #333 solid;
    transition: all 0.2s ease-in-out;
}
.btn-outer2:hover {
    background-color: #000;
}

.btn-outer2:hover a {
    color: #fff;
}
.btn-outer2:hover .material-icons-outlined {
    background-color: #fff;
    color: #333;
    border: #fff solid 2px;
    transform: translateX(-8px);
}
.btn-outer2 a{
    padding: 10px 20px 10px 0;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}
.btn-outer2 .material-icons-outlined{
    border: #000 solid 2px;
    color: #333;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}
/* 講座一覧画面(cources.index)
---------------------------------------------------- */
.cources-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-gap: 20px;
}
.soft-title {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 15px;
}
.item {
    position: relative;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
.item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}
.item p {
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
}
.item .lesson-time span {
    position: relative;
    padding-bottom: 5px; /* 適宜調整してください */
}
.item .lesson-time span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #333; /* 下線の色を設定してください */
}
/* 管理者メイン画面(admin.main)
---------------------------------------------------- */
#admin-contents-title {
    background: linear-gradient(45deg, #009efd 0%, #2af598 100%);
}
/* 受講生一覧画面(admin.users.index)
---------------------------------------------------- */
.users-list-title {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 15px;
}
/* 登録解除ボタン */
.unregister-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.unregister-button .material-symbols-outlined {
    margin-right: 5px;
}
.unregister-button:hover {
    background-color: #ff3333;
}
/* 受講生予約一覧画面(admin.reservations.index)
---------------------------------------------------- */
#admin-reservation-title {
    background: linear-gradient(45deg, #009efd 0%, #2af598 100%);
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-container .inner {
    max-width: 100%;
}
.search-container form {
    display:flex;
}
.search-container input[type="text"] {
    padding: 6px;
    border: 1px solid #333;
    border-radius: 4px;
}
.search-container button {
    padding: 6px 12px;
    background-color: rgb(44, 44, 253);
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
}
.search-container button:hover {
    background-color: navy;
}
#no-hit {
    padding: 10px 0;
    font-size: 1.25rem;
}

/* 予約履歴の表 */
.users-list-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #eaf0f5;
    margin-bottom: 30px;
}
.users-list-table .th-bg {
    background: linear-gradient(45deg, #009efd 0%, #2af598 100%);
    font-size: 1.25rem;
}
.users-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.users-list-table th,
.users-list-table td {
    padding: 10px;
    text-align: center;
}
.users-list-table th {
    font-weight: bold;
    color: #fff;
}
.users-list-table td {
    border-bottom: 1px solid #ddd;
    color: #555;
}
.users-list-table td input[type="checkbox"] {
    padding: 10px;
    width: 20px;
    height: 20px;
}

/* 講座一覧画面(admin.courses.index)
---------------------------------------------------- */
/* 編集ボタン */
.edit-btn-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.edit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background-color: #FFD700;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border: #333 solid 1px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.edit-button .material-symbols-outlined {
    margin-right: 5px;
    font-size: 22px;
}
.edit-button:hover {
    background-color: #FFC300;
}
/* 削除ボタン */
.destroy-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
    background-color: #FFD700;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border: #333 solid 1px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.destroy-button .material-symbols-outlined {
    font-size: 22px;
}
.destroy-button:hover {
    background-color: #FFC300;
}
.add-item {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
.add-item-button {
    transition: all 0.3s ease-in-out;
}
.add-item-button .material-symbols-outlined {
    transition: all 0.3s ease-in-out;
    font-size: 3rem;
    color: #333;
}
.add-item-button:hover .material-symbols-outlined{
    font-size: 4rem;
}
.edit-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 講座編集画面(admin.courses.edit)
---------------------------------------------------- */
.edit-course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-course-container .inner {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.edit-course-container h3 {
    font-size: 1.75rem;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px #333 solid;
}
.edit-course-container {
    text-align: center;
}
.edit-course-container form {
    width: 100%;
}
.edit-course-container .form-group {
    margin-bottom: 10px;
}
.edit-course-container .form-group p{
    text-align: left;
    font-size: 0.85rem;
    padding-top: 5px;
    color: #333;
}
.edit-course-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
    font-size: 1.15rem;
}
.edit-course-container input[type="text"],
.edit-course-container select,
.edit-course-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.edit-course-container input[type="file"] {
    width: 100%;
    font-size: 0.95rem;
    padding: 5px 0;
}
.edit-course-container button[type="submit"] {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.edit-course-container button[type="submit"]:hover {
    background-color: #FFC300;
}

/* 新規講座登録画面(admin.courses.create)
---------------------------------------------------- */
.create-course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-course-container .inner {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.create-course-container h3 {
    font-size: 1.75rem;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px #333 solid;
}
.create-course-container {
    text-align: center;
}
.create-course-container form {
    width: 100%;
}
#preview {
    width: 85%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
}
.create-course-container .form-group {
    margin-bottom: 10px;
}
.create-course-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
    font-size: 1.15rem;
}
.create-course-container input[type="text"],
.create-course-container select,
.create-course-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.create-course-container input[type="file"] {
    width: 100%;
    font-size: 0.95rem;
    padding: 5px 0;
}
.create-course-container button[type="submit"] {
    background-color: lightseagreen;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.create-course-container button[type="submit"]:hover {
    background-color: rgb(38, 194, 186);
}

/* フッター */
.main-footer {
    background-color: #f2f2f2;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 70px 70px;
    width: 100%;
}
.footer-info {
    font-size: 1.15rem;
    font-weight: bold;
}
.footer-logo img{
    width: 150px;
}
.footer-sub-title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: left;
}
.footer-sub-title span {
    position: relative;
    padding-bottom: 5px; /* 適宜調整してください */
}
.footer-sub-title span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.25px;
    background-color: #333; /* 下線の色を設定してください */
  }
.footer-business-hours {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
.footer-business-hours th,
.footer-business-hours td {
    padding: 10px;
    text-align: center;
}
.footer-business-hours th {
    background-color: transparent;
    color: #333;
}   
.footer-business-hours th {
    border: 1px solid #ccc;
} 
.footer-business-hours td {
    border: 1px solid #ccc;
} 
.footer-bottom {
    background-color: #999;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}

/* レスポンシブ対応
---------------------------------------------------- */
/* タブレット用のスタイル */
@media (max-width: 820px) {
    /* トップ画面(top)
    ---------------------------------------------------- */
    .buttons{
        display: none;
    }
    #text-container  h1{
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    #text-container {
        top: 50%; /* 画面上から */
        left: 5%; /* 画面左から */
    }
    .navigation {
        display: none;
    }
  
    .hamburger-menu {
        display: block;
    }
  
    .hamburger-navigation {
        display: none;
    }
    /* メイン画面(main)
    ---------------------------------------------------- */
    /* 予約フォーム */
    .reservationForm-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        max-width: 500px;
        text-align: center;
    }
    /* Menuとカレンダー */
    #primary-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #primary-container aside{
        width:100%;
        height: 50%;
        margin-bottom: 2rem;
    }
    #primary-container section{
        width:100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 2rem;
    }
    .calendar-container {
        width: 100%;
        display: inline-block;
    }
    .contents-title {
        text-align: center;
    }
    /* FullCalendar */
    #calendar {
        font-size: 0.85rem; /* カレンダーの文字サイズを調整 */
    }
    .fc-media-screen {
        width: 750px;
    }
    .fc-event-title {
        color: #fff; /* 文字色 */
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 3px;
    }
    /* 予約履歴画面(reservations.index)
    ---------------------------------------------------- */
    .reservation-history-container {
        padding: 0;
        font-size: 0.95rem;
    }
    .cancel-button {
        padding: 6px 10px;
        background-color: #ff5a5f;
        display: block;
    }
    /* フッター */  
    .footer-inner {
        display: flex;
        flex-direction: column;
        padding: 50px 4%;
        font-size: 0.85rem;
    }
    .business-info {
        margin-top: 20px;
    }
    .footer-info {
        text-align: left;
    }
    .footer-bottom {
        font-size: 0.85rem;
    }
}
  
@media (max-width: 480px) {
    /* トップ画面(top)
    ---------------------------------------------------- */
    #text-container  h1{
        color: white;
        font-size: 2.25rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    #big-bg {
        min-height: 100vh;
    }
    #text-container {
        top: 50%; /* 画面上から */
        left: 5%; /* 画面左から */
    }

    /* メイン画面(main)
    ---------------------------------------------------- */
    /* 予約フォーム */
    .reservationForm-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
    }
    /* Menuとカレンダー */
    #primary-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #primary-container aside{
        width:100%;
        height: 50%;
        margin-bottom: 2rem;
    }
    #primary-container section{
        width:100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 2rem;
    }
    .calendar-container {
        width: 100%;
        display: inline-block;
    }
      /* FullCalendar */
    #calendar {
        font-size: 0.75em; /* カレンダーの文字サイズを調整 */
    }
    .fc-media-screen {
        width: 600px;
    }
    .fc-col-header-cell-cushion {
        font-size: 1rem !important;
    } 
    /* 予約履歴画面(reservations.index)
    ---------------------------------------------------- */
    .reservation-history-container {
        padding: 0;
        font-size: 0.85rem;
    }
    .cancel-button {
        padding: 4px 8px;
        background-color: #ff5a5f;
        font-size: 0.8rem;
    }
    /* キャンセル完了画面(reservations.destroy)
    ---------------------------------------------------- */
    .complete-sign h1 {
        font-size: 1.3rem;
    }
    .complete-sign h1 span{
        color: red;
        font-size: 1.6rem;
        padding: 0 5px;
    }
    /*　受講生予約一覧画面(admin.reservations.index)
    ---------------------------------------------------- */
    .search-container {
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }
    
    /* フッター */
    .footer-inner {
        display: flex;
        flex-direction: column;
        padding: 50px 4%;
        font-size: 0.75rem;
    }
    .business-info {
        margin-top: 20px;
    }
    .footer-info {
        text-align: left;
    }
    .footer-info p{
        font-size: 1rem;
    }
    .footer-bottom {
        font-size: 0.75rem;
    }
}

