body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
}
/* 共通設定
---------------------------------------------------- */
.wrapper {
    max-width: 1280x;
    margin: 0 auto;
    padding: 0 4%;
}
ul {
  list-style: none;
}
a {
    text-decoration: none;
}
/* トップ画面(top)
---------------------------------------------------- */
/* 背景画像 */
#big-bg {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-image: url(/images/top_bg.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#big-bg::after{
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.1;
}
/* ヘッダー */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.h-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 40px;
}
.logo img {
    width: 200px; 
}
/* ログイン・新規登録ボタン */
.buttons {
    display: flex;
}
.login-button, .signup-button {
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.login-button:hover, .signup-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/*ハンバーガーメニュー */
.navigation {
    display: flex;
}
.nav-link {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: blue !important;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: darkblue !important;
}
.hamburger-menu {
    display: none;
    z-index: 200;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.hamburger-icon.close span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger-icon.close span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.close span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.hamburger-navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: none;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}
.hamburger-links {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    padding: 130px 20px 20px 40px;
}

.hamburger-links form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.s-nav-link {
    text-align: center;
    margin-bottom: 40px;
    border: 2px white solid;
    text-decoration-color: white; 
    text-decoration-thickness: 2px; 
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 10px;
}
/* 背景画像上のテキスト */
#text-container {
    position: fixed;
    top: 30%; 
    left: 10%; 
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: 555;
}
/* 下から上への動きを追加 */
#text-container.fade-in {
    opacity: 1;
    animation: slideIn 1.5s ease-in-out; 
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%); /* 下方向に100%移動 */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 元の位置に戻る */
    }
}
#text-container  h1{
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 3;
    text-align: left;
}
/* メイン画面(main)
---------------------------------------------------- */
.main-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.main-h-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ログアウトボタン */
.logout-button {
  border: none;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 6px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: darkblue;
}
/* Menuとカレンダー */
#primary-container {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.contents-title {
    max-width: 100%;
    background: linear-gradient(45deg, #2af598 0%, #009efd 100%);
}
#menu-title{
    text-align: center;
}
.contents-title h2 {
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#primary-container aside{
  width:15%;
  height: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 6px;
}
.side-container {
  text-align: center;
}
.side-container li{
    text-align: center;
}
#line {
    border-top: lightgrey solid 0.5px;
}
.sidebar-link {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.sidebar-link:hover {
    background-color: navy;
    transition: all ease-in-out 0.3s;
    color: #ffffff;
    opacity: 0.9;
}
#primary-container section{
  width:83%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 6px;
}
.calendar-container {
  text-align: center;
  padding: 20px 30px;
  height: 450px;
  overflow: auto; /* カレンダーがはみ出た場合にスクロールバーを表示 */
}
/* 予約フォーム */
#reservationForm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reservationForm-overlay.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.reservationForm-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}
.reservationForm-container h3 {
    margin-bottom: 10px;
}
.reservationForm-container .form-group {
    margin-bottom: 15px;
}
.reservationForm-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.reservationForm-container input[type="text"],
.reservationForm-container select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.reservationForm-container button[type="submit"] {
    background-color: lime;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.reservationForm-container button[type="submit"]:hover {
    background-color:#008080;
}
/* FullCalendar */
#calendar {
    font-size: 1rem; /* カレンダーの文字サイズを調整 */
}
td.fc-day-sat {
    background-color: #eaf4ff;
}
td.fc-day-sun {
    background-color: #ffeaea;
}
.fc-col-header-cell-cushion {
    color: black;
}
.fc-daygrid-day-number {
    color: black;
}
td.fc-day-sat .fc-daygrid-day-number {
    color: blue;
}
td.fc-day-sun .fc-daygrid-day-number {
    color: red;
}
td.fc-timegrid-slot {
    height: 3em !important;
    border-bottom: 0 !important;
}
.fc-event-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.fc-button-primary {
    background-color: white !important;
    color: #000 !important;
    font-weight: bold !important;
}
.fc-button-primary:hover {
    background-color: navy !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out !important;
}
.fc-button-primary:focus {
    outline: 1px !important;
}

.fc-v-event {
    border: none !important;
    background-color: lime !important; 
    opacity: 0.7;
}
.fc-event-main {
    border-radius: 8% !important; 
}
.fc-event-time {
    display: none;
}
.fc-event-title {
    color: #fff; /* 文字色 */
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
}
/* 予約履歴画面(reservations.index)
---------------------------------------------------- */
#secoundary-container {
    min-height: 100vh;
    margin-top: 110px;
}
.reservation-history-container {
    margin: 20px;
    padding: 30px;
    background-color: transparent;
    border-radius: 6px;
}
.reservation-history-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.reservation-history-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.reservation-history-table th {
    padding: 10px;
    text-align: center;
}
.reservation-history-table td {
    padding: 12px 0;
    text-align: center;
}
.reservation-history-table th {
    background-color: royalblue;
    font-weight: bold;
    color: #fff;
}
.reservation-history-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.reservation-history-table tbody tr:nth-child(odd) {
    background-color: #eaf0f5;
}
.reservation-history-table td {
    border-bottom: 1px solid #ddd;
    color: #555;
}
.reservation-history-table td{
    width: 10%;
}

.cancel-button {
    padding: 8px 20px;
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cancel-button:hover {
    background-color: #ff4146;
}
/* キャンセル完了画面(reservations.destroy)
---------------------------------------------------- */
#secondary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.complete-sign {
    text-align: center;
}

.complete-sign h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.complete-sign h1 span{
    color: red;
    font-size: 2.5rem;
    padding: 0 15px;
}
.btn-outer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-outer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 8px;
    border: 2px #333 solid;
    transition: all 0.2s ease-in-out;
}
.btn-outer2:hover {
    background-color: #000;
}

.btn-outer2:hover a {
    color: #fff;
}
.btn-outer2:hover .material-icons-outlined {
    background-color: #fff;
    color: #333;
    border: #fff solid 2px;
    transform: translateX(-8px);
}
.btn-outer2 a{
    padding: 10px 20px 10px 0;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}
.btn-outer2 .material-icons-outlined{
    border: #000 solid 2px;
    color: #333;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

/* フッター */
.main-footer {
    background-color: #f2f2f2;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 70px 70px;
    width: 100%;
}
.footer-info {
    font-size: 1.15rem;
    font-weight: bold;
}
.footer-logo img{
    width: 150px;
}
.footer-sub-title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: left;
}
.footer-sub-title span {
    position: relative;
    padding-bottom: 5px; /* 適宜調整してください */
}
.footer-sub-title span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.25px;
    background-color: #333; /* 下線の色を設定してください */
  }
.footer-business-hours {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
.footer-business-hours th,
.footer-business-hours td {
    padding: 10px;
    text-align: center;
}
.footer-business-hours th {
    background-color: transparent;
    color: #333;
}   
.footer-business-hours tr:nth-child(even) {
    background-color: #f2f2f2;
}
.footer-business-hours th {
    border: 1px solid #ccc;
} 
.footer-business-hours td {
    border: 1px solid #ccc;
} 
.footer-business-hours td.yes {
    color: green;
}
.footer-business-hours td.no {
    color: red;
}
.footer-bottom {
    background-color: #999;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}

/* レスポンシブ対応
---------------------------------------------------- */
/* タブレット用のスタイル */
@media (max-width: 768px) {
    /* トップ画面(top)
    ---------------------------------------------------- */
    .buttons{
        display: none;
    }
    #text-container  h1{
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    #text-container {
        top: 50%; /* 画面上から */
        left: 5%; /* 画面左から */
    }
    .navigation {
        display: none;
    }
  
    .hamburger-menu {
        display: block;
    }
  
    .hamburger-navigation {
        display: none;
    }
    /* メイン画面(main)
    ---------------------------------------------------- */
    /* 予約フォーム */
    .reservationForm-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        max-width: 500px;
        text-align: center;
    }
    /* Menuとカレンダー */
    #primary-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #primary-container aside{
        width:100%;
        height: 50%;
        margin-bottom: 2rem;
    }
    #primary-container section{
        width:100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 2rem;
    }
    .calendar-container {
        width: 100%;
        display: inline-block;
    }
    .contents-title {
        text-align: center;
    }
    /* FullCalendar */
    #calendar {
        font-size: 0.85rem; /* カレンダーの文字サイズを調整 */
    }
    .fc-media-screen {
        width: 750px;
    }
    .fc-event-title {
        color: #fff; /* 文字色 */
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 3px;
    }
    /* 予約履歴画面(reservations.index)
    ---------------------------------------------------- */
    .reservation-history-container {
        padding: 0;
        font-size: 0.95rem;
    }
    .cancel-button {
        padding: 6px 10px;
        background-color: #ff5a5f;
        display: block;
    }
    /* フッター */  
    .footer-inner {
        display: flex;
        flex-direction: column;
        padding: 50px 4%;
        font-size: 0.85rem;
    }
    .business-info {
        margin-top: 20px;
    }
    .footer-info {
        text-align: left;
    }
    .footer-bottom {
        font-size: 0.85rem;
    }
}
  
@media (max-width: 480px) {
    /* トップ画面(top)
    ---------------------------------------------------- */
    #text-container  h1{
        color: white;
        font-size: 2.25rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    #big-bg {
        min-height: 100vh;
    }
    #text-container {
        top: 50%; /* 画面上から */
        left: 5%; /* 画面左から */
    }

    /* メイン画面(main)
    ---------------------------------------------------- */
    /* 予約フォーム */
    .reservationForm-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
    }
    /* Menuとカレンダー */
    #primary-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #primary-container aside{
        width:100%;
        height: 50%;
        margin-bottom: 2rem;
    }
    #primary-container section{
        width:100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 2rem;
    }
    .calendar-container {
        width: 100%;
        display: inline-block;
    }
      /* FullCalendar */
    #calendar {
        font-size: 0.75em; /* カレンダーの文字サイズを調整 */
    }
    .fc-media-screen {
        width: 450px;
    }
    /* 予約履歴画面(reservations.index)
    ---------------------------------------------------- */
    .reservation-history-container {
        padding: 0;
        font-size: 0.85rem;
    }
    .cancel-button {
        padding: 4px 8px;
        background-color: #ff5a5f;
        font-size: 0.8rem;
    }
    /* キャンセル完了画面(reservations.destroy)
    ---------------------------------------------------- */
    .complete-sign h1 {
        font-size: 1.3rem;
    }
    .complete-sign h1 span{
        color: red;
        font-size: 1.6rem;
        padding: 0 5px;
    }
    /* フッター */
    .footer-inner {
        display: flex;
        flex-direction: column;
        padding: 50px 4%;
        font-size: 0.75rem;
    }
    .business-info {
        margin-top: 20px;
    }
    .footer-info {
        text-align: left;
    }
    .footer-info p{
        font-size: 1rem;
    }
    .footer-bottom {
        font-size: 0.75rem;
    }
}

